<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="logout()">
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <dash-card
    valor="2494,27"
    tipo="pagar"
    num="12"
  ></dash-card>

  <dash-card
    valor="2494,27"
    tipo="receber"
    num="8"
  ></dash-card>

  <dash-card
    valor="3494,27"
    tipo="saldo"
    num="10"
  ></dash-card>

  <div id="btnMenu">
    <ion-button [routerLink]="['/contas/pagar']" expand="block">Contas a Pagar</ion-button><br>
    <ion-button [routerLink]="['/contas/receber']" expand="block">Contas a Receber</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Footer
    </ion-title>
  </ion-toolbar>
</ion-footer>
