<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"><br>
  <form [formGroup]="cadastroForm" (submit)="registraConta()">

    <ion-item>
      <ion-icon name="person" color="banco" slot="start"></ion-icon>
      <ion-input formControlName="parceiro" type="text" placeholder="Parceiro Comercial" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="document" color="banco" slot="start"></ion-icon>
      <ion-input  formControlName="descricao" type="text" placeholder="Descrição"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="wallet" color="banco" slot="start"></ion-icon>
      <ion-input  formControlName="valor" type="number" placeholder="Valor"></ion-input>
    </ion-item>

    <ion-radio-group formControlName="tipo">
      <ion-item>
        <ion-label>A pagar</ion-label>
        <ion-radio slot="start" value="pagar"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>A receber</ion-label>
        <ion-radio slot="start" value="receber"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <br><br>

    <ion-button [disabled]="cadastroForm.invalid" type="submit" expand="block" color="banco">Enviar</ion-button>

  </form>
</ion-content>
